# local dev prod
ENV="local"

# HTTPServer
HTTP_SERVER_ADDRESS="0.0.0.0:8084"
HTTP_HOST="8084"

# Kafka
KAFKA_ADDRESS="localhost:9091, localhost:9092" # для внешних запросов
# KAFKA_ADDRESS="kafka1:29091,kafka2:29092" # для запрос из docker
KAGKA_ADMIN_NAME="name"
KAGKA_ADMIN_PASSWORD="qwerty"
